.feed::-webkit-scrollbar {
  display: none;
}

.wrapper {
  flex: 0.8;
  

}

.gridWrapper{
  display: flex;

}

.feed {
  flex: 0.7;
  -ms-overflow-style: none;
  scrollbar-width: none;
  
  border-right: 1px solid var(--twitter-background) !important;
  min-width: fit-content;
  overflow-y: scroll;
}

.header {
  
  display: flex;
  justify-content: space-between;
  position: sticky;
  /* top: 0; */
  background-color: white;
  z-index: 90;
  border-bottom: 1px solid var(--twitter-background) !important;
  /* padding: 15px 20px; */
}

.header > h2 {
  font-size: 20px;
  font-weight: 800;
}

.widgets {
  flex: 0.3;
}
