.wrapper {
  display: flex;
}

.feed {
  flex: 0.6;
  border-right: 1px solid var(--twitter-background) !important;
  
}

.header {
  position: sticky;
  z-index: 100;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid var(--twitter-background) !important;
  
}

.header > h2 {
  font-size: 20px;
  font-weight: 800;
}

.widgets {
  flex: 0.4;
  position: sticky;
  
}

