.wrapper {
  /* display: flex; */
  align-items: center;
  cursor: pointer;
}

.option {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

.wrapper a {
  text-decoration: none;
}

.wrapper a:visited {
  color: black;
}

.option:hover {
  background-color: #e8f5fe;
  border-radius: 30px;
  color: var(--twitter-color);
  transition: color 100ms ease-out;
}

.MuiSvgIcon-root {
  padding: 20px;
}

h2 {
  font-weight: 800;
  font-size: 20px;
  margin-left: 20px;
}

.wrapper a.activeLink {
  color: var(--twitter-color);
}

/* a {
  width: 100%;
  display: flex;
  justify-content: center;
} */
