.container {
  display: flex;
  margin: 15px;
}

.avatar {
  margin-right: 15px;
}

.header {
  display: flex;
}

.userName {
  font-weight: 700;
}

.verified {
  color: var(--twitter-color);
}

.nickName {
  color: gray;
}

.image img {
  max-width: 500px;
  border-radius: 20px;
}

.footer {
  display: flex;
  justify-content: space-around;
  // cursor: pointer;
  .comment {
    cursor: pointer;
  }
  .retweet {
    cursor: pointer;
  }
  .like {
    cursor: pointer;
  }
  .share {
    cursor: pointer;
  }
}
