.feed::-webkit-scrollbar {
  display: none;
}

.feed {
  -ms-overflow-style: none;
  scrollbar-width: none;
  flex: 0.4;
  border-right: 1px solid var(--twitter-background) !important;
  min-width: fit-content;
  overflow-y: scroll;
}

.header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border-right: 1px solid var(--twitter-background) !important;
  padding: 15px 20px;
}

.header > h2 {
  font-size: 20px;
  font-weight: 800;
}
